/* リキッドレイアウト対応 */
@use "global" as *;

////////////////////
// フォントサイズ調整
////////////////////

html {
  font-size: 16px;

  @media (max-width: $inner) {
    font-size: vw(strip-unit($inner), 16);
  }

  @include mq("md") {
    font-size: 16px;
  }

  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }
}

body {
  font-family: $jp-font;
  color: $black;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1.5;
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @include mq("md") {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}

//pcで表示
.u-pc {
  display: block;
  @include mq("md") {
    display: none;
  }
}

//モバイルのみ表示
.u-sp {
  display: none;
  @include mq("md") {
    display: block;
  }
}
