@use "global" as *;
.top-about {
  margin-top: rem(100);
  padding-bottom: rem(130);
}

.top-about__title {
  text-align: center;
}

.top-about__text {
  margin-top: rem(32);
  text-align: center;
  line-height: 2;
}

.top-about__btn {
  text-align: center;
  margin-top: rem(60);
}

.top-about__btn .section-btn__link {
  justify-content: center;
}
