@use "global" as *;
.top-about {
  margin-top: rem(100);
  padding-bottom: rem(130);
  @include mq("md") {
    margin-top: rem(60);
    padding-bottom: rem(100);
  }
}

.top-about__title {
  text-align: center;
}

.top-about__text {
  margin-top: rem(32);
  text-align: center;
  line-height: 2;
  @include mq("md") {
    margin-top: rem(24);
  }
}

.top-about__btn {
  text-align: center;
  margin-top: rem(60);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.top-about__btn .section-btn__link {
  justify-content: center;
}
