@use "global" as *;

.form__list {
  margin-top: rem(40);
  padding: rem(80);
  background-color: $orange;
  border-radius: rem(20);
  max-width: rem(960);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    padding: rem(40) rem(20) rem(60);
    max-width: 100%;
  }
}

.form__field {
  display: grid;
  grid-template-columns: rem(180) 1fr;
  gap: rem(40);
  align-items: center;
  @include mq("md") {
    grid-template-columns: 1fr;
    gap: rem(12);
  }
}

.form__field + .form__field {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(24);
  }
}

.form__required {
  background-color: $pink;
  border-radius: rem(4);
  padding: rem(4);
  margin-right: rem(4);
  font-size: rem(12);
  font-weight: $medium;
}

.form__textarea {
  height: rem(263);
  @include mq('md') {
    height: rem(200);
  }
}

.form__input,
.form__textarea {
  font-size: rem(16);
  width: 100%;
  padding: rem(12);
  border: rem(1) solid rgba(85, 85, 85, 0.2);
  border-radius: rem(4);
  background-color: #fff;
}

.form__data-radio {
  display: flex;
  flex-wrap: wrap;
}

.form__radio .wpcf7-list-item {
  display: block;
}

.form__data,
.form__data-radio {
  margin-top: rem(4);
}

.wpcf7-list-item {
  margin: 0;
}

.wpcf7-form-control-wrap[data-name="radio-category"] .wpcf7-list-item + .wpcf7-list-item {
  margin-top: rem(8);
}

.wpcf7-form-control-wrap[data-name="radio-category"] .wpcf7-list-item-label {
  position: relative;
  display: inline-block;
  padding-left: rem(24);
}

.wpcf7-form-control-wrap[data-name="radio-category"] .wpcf7-list-item-label::before {
  position: absolute;
  top: 56%;
  left: 0;
  width: rem(16);
  height: rem(16);
  content: "";
  transform: translateY(-50%);
  border: 1px solid #888;
  border-radius: 7px;
}

.wpcf7-form-control-wrap[data-name="radio-category"] .wpcf7-list-item-label::after {
  position: absolute;
  top: 56%;
  left: rem(3);
  width: rem(10);
  height: rem(10);
  content: "";
  transform: translateY(-50%);
  opacity: 0;
  border-radius: rem(4);
  background-color: #888;
}

.wpcf7-form-control-wrap[data-name="radio-category"] .wpcf7-list-item input:checked + .wpcf7-list-item-label::after {
  opacity: 1;
}

.wpcf7-form-control-wrap[data-name="privacy"] .wpcf7-list-item-label {
  position: relative;
  display: inline-block;
  padding-left: rem(12);
}

.form__submit-button {
  position: relative;
  display: block;
  width: 100%;
  max-width: rem(380);
  margin: rem(120) auto 0;
  @include mq('md') {
   max-width: rem(300);
   margin: rem(60) auto 0;
  }
}

.form__submit-input {
  width: 100%;
  padding: rem(28) rem(40);
  color: $black;
  background-color: $pink;
  border-radius: rem(999);
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
  position: relative;
  @include mq('md') {
    padding: rem(16) rem(28);
  }
}

.form__submit-input:hover {
  background-color: $yellow;
}

/* ===== ペンギン（上に乗せる） ===== */
.form__submit-button::before {
  content: "";
  position: absolute;
  top: rem(-60);
  right: rem(28);
  width: rem(133);
  height: rem(90);
  z-index: -1;
  background: url("../images/form-pen.png") no-repeat center/contain;
  pointer-events: none; /* クリック邪魔しない */
  z-index: 1;
  transition: transform 0.3s ease;
  @include mq('md') {
    top: rem(-48);
	right: rem(20);
	width: rem(100);
	height: rem(68);
  }
}

.form__submit-button:hover::before {
  transform: translateY(rem(-6));
}

/* ===== 矢印（右側の白丸） ===== */
.form__submit-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(40);
  transform: translateY(-50%);
  width: rem(32);
  height: rem(32);
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../images/common/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: rem(12);
  z-index: 2;
}
