@use "global" as *;
.top-fv {
  position: relative;
  padding-top: rem(200);
}

.top-fv::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: rem(600);
  left: 0;
  top: 0;
  background-image: url("../images/mv-snow.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.top-fv__top {
  display: flex;
  gap: min(rem(120),9vw);
  justify-content: center;
}

.top-fv__title-box {
  text-align: center;
  margin-left: rem(40);
}

.top-fv__title {
  font-size: rem(40);
  font-weight: $bold;
}

.top-fv__sub-title {
  margin-top: rem(10);
  font-size: rem(16);
  font-weight: $bold;
}

.top-fv__img-box {
  position: relative;
}

.top-fv__img {
  max-width: rem(378);
  width: 100%;
  aspect-ratio: 378/252;
  height: auto;
}

.top-fv__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-fv__img-text {
  font-size: rem(16);
  font-weight: $medium;
  position: absolute;
  right: rem(-20);
  top: rem(20);
}

.top-fv__img-text::after {
  content: "";
  position: absolute;
  display: block;
  width: rem(255);
  height: rem(172);
  right: rem(-45);
  top: rem(-58);
  background-image: url("../images/mv-hukidashi.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

//=====================
//本のリスト部分
//=====================
.top-fv__lists {
  margin-top: rem(42);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(236), 1fr));
  gap: rem(25);
}

.top-fv__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(236);
  height: rem(236);
  border-radius: 50%;
  border: rem(5) solid $beige;
}

.top-fv__list-img {
  max-width: rem(110);
  width: 100%;
  height: auto;
}

.top-fv__list-text {
  margin-top: rem(8);
  color: #693c19;
  font-family: $uzura-font;
}
