@use "global" as *;
.top-message {
  margin-top: rem(100);
  @include mq('md') {
    margin-top: rem(60);
  }
}

.top-message__read {
  margin-top: rem(32);
  font-size: rem(16);
  font-weight: $medium;
  text-align: center;
  @include mq('md') {
    margin-top: rem(24);
	font-size: rem(14);
  }
}
