@use "global" as *;
.top-wrap,
.top-wrap__under,
.top-wrap__split {
  position: relative;
}

.top-wrap::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 88vw;
  left: 0;
  top: rem(120);
  background-image: url("../images/about-frame3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0 0 40px rgba(247, 222, 202, 1));
  z-index: -1;
  @include mq("md") {
    top: rem(80);
  }
}

.top-wrap::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: min(rem(312), 12vw);
  left: 0;
  bottom: 0;
  background-image: url("../images/about-frame-under.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq("md") {
	height: rem(80);
  }
}

.top-wrap__under::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(667);
  height: min(rem(504), 20vw);
  left: 0;
  bottom: 0;
  background-image: url("../images/about-frame-left.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq("md") {
	width: rem(160);
	height: rem(120);
  }
}

.top-wrap__under::after {
  content: "";
  position: absolute;
  display: block;
  width: rem(672);
  height: min(rem(504), 20vw);
  right: 0;
  bottom: 0;
  background-image: url("../images/about-frame-right.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  @include mq('md') {
	width: rem(160);
	height: rem(120);
  }
}

.top-wrap__split::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(351);
  height: rem(370);
  left: 0;
  bottom: rem(56);
  background-image: url("../images/about-tree-left.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq('md') {
    width: rem(120);
	height: rem(130);
	bottom: 0;
  }
}

.top-wrap__split::after {
  content: "";
  position: absolute;
  display: block;
  width: rem(334);
  height: rem(345);
  right: 0;
  bottom: rem(44);
  background-image: url("../images/about-tree-right.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq('md') {
	width: rem(120);
	height: rem(130);
	bottom: 0;
  }
}
