@use "global" as *;
.top-work {
  background-color: $orange;
  padding-bottom: rem(240);
  position: relative;
}

.top-work__inner.inner {
  max-width: rem(1140);
}

.top-work__title {
  text-align: center;
}

.top-work__lists {
  margin-top: rem(60);
}

.top-work__list {
  position: relative;
}

.top-work::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(394);
  height: rem(378);
  top: rem(150);
  right: 0;
  background-image: url("../images/work-kamakura.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-work__list + .top-work__list {
  margin-top: rem(48);
}

.top-work__link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.top-work__list:nth-child(even) .top-work__link {
  flex-direction: row-reverse;
}

.top-work__img {
  max-width: rem(430);
  width: 100%;
  height: auto;
  aspect-ratio: 430/323;
}

.top-work__img img {
  border-radius: rem(20);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-work__category {
  font-size: rem(12);
  font-weight: $medium;
  color: #888;
  border: rem(1) solid #888;
  padding: rem(4) rem(8);
  border-radius: rem(10);
  width: fit-content;
}

.top-work__head {
  font-size: rem(20);
  font-weight: $bold;
  margin-top: rem(4);
}

.top-work__text {
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(16);
}

.top-work__btn-link {
  margin-top: rem(32);
}

.top-work__btn {
  margin-top: rem(60);
}

.top-work__btn .section-btn__link {
  justify-content: center;
}
