@use "global" as *;
.footer {
  position: relative;
  margin-top: rem(128);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/footer-img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
  @include mq('md') {
    background-size: cover;
  }
}

.footer::after {
  content: "";
  position: absolute;
  top: rem(-67);
  left: 50%;
  transform: translateX(-50%);
  width: rem(137);
  height: rem(104);
  background-image: url("../images/footer-pen.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include mq('md') {
    width: rem(100);
	height: rem(76);
	top: rem(-50);
  }
}

.footer__logo {
  padding: rem(61) 0 rem(24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo a {
  max-width: rem(95);
  width: 100%;
  height: auto;
  aspect-ratio: 95/42;
  display: block;
}

.footer__logo a img {
  width: 100%;
  height: auto;
  object-fit: contain;
}